:root {
  --bg-color: #baeed9; 
  --text-color: #000000;
  --card-bg: #f8f8f8;
  --accent: #19e6a2;
  --accent-hover: #34ffdd;
  --footer-bg: #41ffc0;
  --footer-text: #ffffff;
  --input-bg: #ffffff;
  --border-color: #36deb7;
  --highlight: #1cb76a;
  --subtitle: #444;
}

/* Global styles */
body {
  margin: 0;
  font-family: 'Courier New', monospace;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: var(--accent);
  text-shadow: 0 0 6px rgba(47, 208, 211, 0.5);
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  font-size: 0.9em;
  color: var(--subtitle);
  margin-bottom: 20px;
}

.card {
  background-color: var(--card-bg);
  border: 1px solid var(--accent);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(211, 47, 47, 0.2);
}

.card h2 {
  margin-top: 0;
  font-size: 1.2em;
  color: var(--accent);
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  background-color: var(--input-bg);
  border: 1px solid var(--accent);
  border-radius: 6px;
  color: var(--text-color);
  font-family: 'Courier New', monospace;
  font-size: 1em;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

button {
  flex: 1;
  padding: 12px;
  background-color: var(--accent);
  border: none;
  border-radius: 6px;
  color: var(--footer-text);
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: var(--accent-hover);
  box-shadow: 0 0 10px #06ffd580;
}

.buttonn {
  gap: 10px;
  margin: 15px 0;
}


.btn.danger {
  background: rgba(255, 100, 100, 0.25);
  border: 1px solid rgba(255, 80, 80, 0.5);
  color: #fc4646;
}

.btn.danger:hover {
  background: rgba(255, 80, 80, 0.45);
  color: white;
}


footer {
  text-align: center;
  padding: 10px;
  font-size: 0.8em;
  background-color: var(--footer-bg);
  color: var(--footer-text);
}


